:host {
    background-color: white;
    height: 100%;
    width: 100%;
}

.palette1 {
    background: linear-gradient(to right, #d4a017, #c2a14a, #b8860b, #8b4513, #5c4033)
}

.palette2 {
    background: linear-gradient(to right, #ddc9b1, #a38f71, #686567, #b3ac91, #dcac7c)
}

.palette3 {
    background: linear-gradient(to right, #D4AB31, #EDDEB2, #DCBE66, #86AD3F, #236E48)
}

.palette4 {
    background: linear-gradient(to right, #ffec9e, #ffdd8a, #e1ad6d, #c99157, #d2aa77)
}

.palette5 {
    background: linear-gradient(to right, #37514e, #6b9294, #b7cbcd, #c14a11, #d9dbd9, #929292)
}

.palette6 {
    background: linear-gradient(to right, #aacbdb, #b5e9ec, #fcf2e3, #cfb3b0, #f2e2be)
}

.palette7 {
    background: linear-gradient(to right, #0698dc, #05ddf0, #f79807, #cd5c4c, #f6ac07)
}